[potential]
potential_name = "TensorNet"

[potential.core_parameter]
number_of_per_atom_features = 8
number_of_interaction_layers = 2
number_of_radial_basis_functions = 16
maximum_interaction_radius = "5.1 angstrom"
minimum_interaction_radius = "0.0 angstrom"
highest_atomic_number = 128
equivariance_invariance_group = "O(3)"
activation_function = "SiLU"

[potential.postprocessing_parameter]
[potential.postprocessing_parameter.per_atom_energy]
normalize = true
from_atom_to_molecule_reduction = true
keep_per_atom_property = true
[potential.postprocessing_parameter.general_postprocessing_operation]
calculate_molecular_self_energy = true

[dataset]
dataset_name = "QM9"
version_select = "nc_1000_v0" # NOTE: this defines a small subset, for full dataset change this variable to "latest"
num_workers = 4
pin_memory = true

[training]
number_of_epochs = 2
remove_self_energies = true
batch_size = 128
lr = 1e-3
monitor = "val/per_molecule_energy/rmse"

[training.experiment_logger]
logger_name = "wandb"

[training.experiment_logger.wandb_configuration]
save_dir = "logs"
project = "training_test"
group = "modelforge_nnps"
log_model = true
job_type = "training"
tags = ["modelforge", "v_0.1.0"]
notes = "testing training"

[training.lr_scheduler]
frequency = 1
mode = "min"
factor = 0.1
patience = 10
cooldown = 5
min_lr = 1e-8
threshold = 0.1
threshold_mode = "abs"
monitor = "val/per_molecule_energy/rmse"
interval = "epoch"

[training.loss_parameter]
loss_property = ['per_molecule_energy', 'per_atom_force'] # use

[training.loss_parameter.weight]
per_molecule_energy = 0.999 #NOTE: reciprocal units
per_atom_force = 0.001


[training.early_stopping]
verbose = true
monitor = "val/per_molecule_energy/rmse"
min_delta = 0.001
patience = 50

[training.splitting_strategy]
name = "random_record_splitting_strategy"
data_split = [0.8, 0.1, 0.1]
seed = 42

[runtime]
save_dir = "lightning_logs"
experiment_name = "test_exp"
local_cache_dir = "./cache"
accelerator = "cpu"
number_of_nodes = 1
devices = 1                        #[0,1,2,3]
checkpoint_path = "None"
simulation_environment = "PyTorch"
log_every_n_steps = 50
